.main-container {
  max-width: 1200px;
  margin: 0 auto;  
  padding: 0rem 1rem; 
}

.sec-titulo {
  font-size: 2rem;
  margin: 2rem 0;
}

.body {
    background: #111;
    color: #fff;
    font-family: system-ui, sans-serif;
  }
  
  .site-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .site-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 4rem;
    max-width: 1200px;
}

.pagination {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pagination span {
  width: 36px; 
  height: 36px;
  border-radius: 50%;
}
