body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff !important;
    padding: 0 80px; 
}

.header-container {
    text-align: left;
    padding: 20px 0;
}

.Header,
.sub-header {

    width: 100%; 
    max-width: 900px; 
    margin: 0 auto; 
}

.Header {
    font-size: 2.8rem;
    font-weight: bold;
    color: #0B0E14;
    margin-bottom: 10px;
}

.sub-header {
    font-size: 1.2rem;
    color: #0B0E14;;
    line-height: 1.6;
}
